doctype html
html(lang="en")
    head
        title 🌟Community Currency Alliance🌟
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400i,400,500,500i,700,700i|Lato:100,100i,300,300i,400i,400,700,700i,900,900i|Ubuntu+Mono:400i,400,700,700i&amp;subset=latin")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav.flex.flex-wrap.items-center.justify-between.p-4
                .flex.flex-shrink-0.mr-10
                    a.text-xl.text-indigo-500.font-semibold(href="#")
                        img(src="images/Group_36.png", alt="", width="100")
                .block(class="lg:hidden")
                    button.navbar-burger.flex.items-center.py-2.px-3.text-indigo-500.rounded.border.border-indigo-500
                        svg.fill-current.h-3.w-3(viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                            title Menu
                            path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                .navbar-menu.hidden.w-full(class="lg:flex lg:flex-grow lg:items-center lg:w-auto")
                    div(class="lg:mr-auto")
                        a.block.mt-4.mr-10.text-blue-900(class="lg:inline-block lg:mt-0 hover:text-blue-700", href="#")
                        a.block.mt-4.mr-10.text-blue-900(class="lg:inline-block lg:mt-0 hover:text-blue-700", href="#")
                        a.block.mt-4.mr-10.text-blue-900(class="lg:inline-block lg:mt-0 hover:text-blue-700", href="#")
                        a.block.mt-4.text-blue-900(class="lg:inline-block lg:mt-0 hover:text-blue-700", href="#")
                    div
                        a.block.mt-4.text-blue-900(class="lg:inline-block lg:mt-0 lg:mr-8 hover:text-blue-700", href="#")
                        a.inline-block.py-3.px-6.mt-4.leading-none.text-white.bg-indigo-500.rounded.shadow(class="lg:mt-0 hover:bg-indigo-600", href="https://currency.community/") Forum


            section(class="py-12 px-4")
                div(class="flex flex-wrap items-center text-center lg:text-left -mx-2")
                    div(class="lg:w-1/2 px-2 lg:pr-10 mt-10 lg:mt-0 order-1 lg:order-none")
                        h2(class="text-5xl mb-6 leading-tight font-heading") Enabling inclusive currencies to thrive
                        p(class="mb-8 text-gray-500 leading-relaxed") Our efforts at Community Currency Alliance are all targeted towards the end-goal of creating open tools and partnerships to nurture a global care economy.

                        div
                            a(href="https://currency.community/" class="inline-block py-4 px-8 mr-6 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow") Forum
                            a(href="https://docs.google.com/document/d/1v41k1cyYKpqzeygt77oWHXV2_Z3DfPGnlg4yVbb40EA/edit?usp=sharing" class="text-blue-700 hover:underline") Vision Paper

                    div(class="lg:w-1/2 px-2") 
                        img(src="images/New.jpg" alt="") 

            section(class="py-8 px-4")
                div(class="flex flex-wrap -mx-4 -mb-6")
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/shield.svg" alt="")
                        h3(class="text-xl my-2 font-heading") Fair economic sustainability
                        p(class="text-gray-500 leading-relaxed") We believe community currencies will play a crucial role in providing incentives needed to tackle inequality and climate change as a way of regenerating and enlarging the planetary commons.
                    
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/cloud-tools.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") Open-source software ecosystem
                        p(class="text-gray-500 leading-relaxed") Through an inquiry driven approach we collaborate on defining software and interoperability standards to enable a rich open-source united community currency ecosystem.
                    
                    div(class="lg:w-1/3 px-4 mb-6")
                        img(src="placeholders/icons/cart.svg" alt="" )
                        h3(class="text-xl my-2 font-heading") Collaboration rather than competition
                        p(class="text-gray-500 leading-relaxed") Our initial focus is to enable community currency stakeholders to collaborate on removing the access and scalability areas for community currencies to unleash their full potential.

            section.py-12.px-4
                h2.text-3xl.mb-12.text-center.font-heading Contact the Alliance team
                .flex.flex-wrap.-mx-6
                    .w-full.px-6.mb-8(class="lg:w-1/2 lg:mb-0")
                        h3.text-2xl.mb-2.font-heading Stay up to date
                        p.mb-8 Follow, watch or chat with us
                        ul
                            li.mb-2
                                img.inline-block.w-8.h-8.pr-2(src="placeholders/icons/home.svg", alt="")
                                span Twitter
                            li.mb-2
                                img.inline-block.w-8.h-8.pr-2(src="placeholders/icons/mobile.svg", alt="")
                                span Youtube
                            li.mb-2
                                img.inline-block.w-8.h-8.pr-2(src="placeholders/icons/message.svg", alt="")
                                span Telegram
                    .w-full.px-6(class="lg:w-1/2")
                        form(name="contact" netlify)
                            .mb-4
                                input.appearance-none.block.w-full.py-3.px-4.leading-tight.text-gray-700.bg-gray-200.border.border-gray-200.rounded(class="focus:bg-white focus:border-gray-500 focus:outline-none", type="email", placeholder="Email")
                            .mb-4
                                textarea.appearance-none.block.w-full.py-3.px-4.leading-tight.text-gray-700.bg-gray-200.border.border-gray-200.rounded(class="focus:bg-white focus:border-gray-500 focus:outline-none", placeholder="Write something...", rows="5")
                            div
                                button.inline-block.w-full.py-4.px-8.leading-none.text-white.bg-indigo-500.rounded.shadow(class="hover:bg-indigo-600") Submit
